.footer__copyright {
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 67px;
  margin-bottom: 60px;
  padding-bottom: 0px;
  padding-top: 0px;
}
