.header {
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  padding-bottom: 40px;
}

.header__logo {
  margin-top: 45px;
}

@media screen and (max-width: 320px) {
  .header {
    padding-left: 27px;
    padding-bottom: 32px;
  }

  .header__logo {
    max-width: 100%;
    min-height: 24px;
  }
}
