.header {
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  padding-bottom: 40px;
}

.header__logo {
  margin-top: 45px;
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }

  .header__logo {
    max-width: 126px;
    min-height: 24px;
  }
}

@media screen and (max-width: 321px) {
  .header {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}
